.header {
    min-height: 74px;
    position: relative;
    padding: 0 70px;
    display: flex;
    align-items: center;
    background: #073042;
}

.header_white {
    background-color: white;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header__title {
    margin-left: 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
}

.header__button-wrapper {
    margin-left: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__button {
    min-height: 32px;
    color: black;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header__button_active {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    color: #2be080;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header__button-green {
    color: black;
    background-color: #3ddc84;
    min-width: 76px;
    border-radius: 3px;
}

.header__button-shadow {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__account-button {
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    cursor: pointer;
}

.header__account-text {
    margin-left: 6px;
    margin-right: 8px;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: black;
}

.header__account-image-wrapper {
    display: flex;
    align-items: center;
}

.header__account-image {
    width: 16px;
    height: 16px;
    color: white;
    object-fit: cover;
}

.header__account-button:hover {
    opacity: 0.6;
}

.header__menu-button {
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
    display: none;
    border: none;
    cursor: pointer;
}

.header__menu-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0 30px;
    }

    .header__button-wrapper_films {
        display: none;
    }

    .header__account-button {
        display: none;
    }

    .header__menu-button {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 0 14px;
    }

    .header__button-wrapper {
        gap: 14px;
    }

    .header__button {
        min-height: 26px;
        font-size: 10px;
        line-height: 16px;
    }

    .header__button-green {
        min-width: 54px;
    }
}