.search-form {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1140px;
    margin: 70px auto 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    grid-template-columns: auto max-content;
    border-bottom: 1px solid #e8e8e8;
}

.search-form__input {
    width: 100%;
    height: 48px;
    border: 1px solid transparent;
    outline: none;
    color: #a0a0a0;
    font-size: 28px;
    line-height: normal;
    cursor: pointer;
}

.search__form-error {
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
    font-size: 10px;
    font-weight: 400;
    justify-self: start;
    line-height: 12px;
    bottom: -20px;
}

.search-form__input::placeholder {
    -webkit-placeholder-opacity: 1;
    -moz-placeholder-opacity: 1;
    opacity: 1;
    color: #a0a0a0;
}

.search-form__input:focus {
    outline: none;
    border-bottom: 1px solid #3456f3;
}


.search-form__submit {
    min-width: 58.65px;
    margin: 0 0 13px 21px;
    padding: 8px 0;
    background-color: #3456f3;
    font-size: 11px;
    font-weight: 500;
    line-height: 163%;
    color: white;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

.search-form__submit:hover {
    opacity: 0.7;
}

@media all and (max-width: 768px) {
    .search-form {
        max-width: 708px;
        margin-top: 82px;
/*        padding: 0 30px; */
    }

    .search-form__submit {
        margin: 0 0 13px 0px;
    }

}

@media all and (max-width: 400px) {
    .search-form {
        max-width: 292px;
        margin: 84px 14px 0;
        padding: 0;
    }

    .search-form__input {
        font-size: 18px;

    }

    .search-form__submit {
        margin: 0 0 11px 0px;
    }
}